<% unless user_signed_in? %> 


  <div class="hero-unit">
      <h1>This is the homepage for our website</h1>
      <p>We are doing the one-month rails course at <%= link_to "sign up", new_user_registration_path, class: "btn btn-primary btn-large" %></p>
  </div>
<% end %>